-if  !@preinscrito 
	/ -if (ParametroGeneral.inscripcion_ninos_abierta && session[:tipo_curso].tipo_categoria_id == "NI") || ((ParametroGeneral.inscripcion_regulares_abierta || ParametroGeneral.inscripcion_cambio_abierta)&& session[:tipo_curso].tipo_categoria_id != "NI")
	- unless @curso_abierto_regular.nil?
		%h3
			=link_to "Preinscribirse: #{@curso_abierto_regular.descripcion}", :action => "paso1", :controller => "inscripcion"
		%div.titulo Preinscribirse en el periodo #{session[:parametros][:periodo_inscripcion]} y obtener la Planilla           
-if @preinscrito and @descargar_planilla_inscripcion.eql? "SI"
	%h3
		=link_to "Obtener Planilla de Preinscripción", :action => "planilla_inscripcion", :controller => "inscripcion"
	%div.titulo Obtener de nuevo la planilla del periodo #{session[:parametros][:periodo_inscripcion]}
%h3
	=link_to "Consultar Historial de Cursos", :action => "cursos", :controller => "estudiante"
%div.titulo Consulta el listado de tus Cursos Realizados

- if @ha
	- @nivel = @ha.tipo_nivel_id
	- @nivel += "-S" if (@nivel.eql? "CB" or @nivel.eql? "CI") and @ha.seccion.bloque_horario.id.eql? 'H5'
	%h3
		=link_to "Syllabus: #{@ha.tipo_nivel.descripcion}", :controller => 'descarga', :action => 'syllabus', :nivel => @nivel 
	%div.titulo Descarga syllabus correspondiente al curso actual

%h3
	=link_to "Fechas Período B-15", :controller => 'descarga', :action => 'fechas', :nivel => @nivel 
%div.titulo Programación de los Cursos de Idiomas - Período B-15 (Abril-Junio 2015)


