=form_for(@administrador,:url=>{:action => "editar_guardar"}) do |f|
  = f.hidden_field :id
  %fieldset
    %legend Gestión de Rol de Usuario
    %p
      = @administrador.usuario.descripcion
    %p
      Rol Actual:
      -if @administrador.tipo_rol.blank?
        = "Sin rol asignado"
      -else
        = @administrador.tipo_rol.nombre
    %p
      Nuevo Rol: 
      =f.collection_select :tipo_rol_id, TipoRol.where("id <> ?", 2), :id, :nombre, {:include_blank => 'Seleccione...'}
  %p
    =submit_tag "Modificar"
    |
    =link_to_function "Cancelar","aceim.cerrar_modal()"