
%ul
  %li= text_field_tag "filtro_particular", nil, :placeholder => "Filtrar contenido..."    

%table.tablesorter.tablefilter.likert
  %thead
    %tr
      %th
        No.
      %th
        Nombre y Apellido
      %th
        Cédula
      %th
        Correo Electrónico
      %th
        Teléfono Móvil
      %th
        ="# Cursos Realizados"
      %th
        Opciones
  %tbody
    -@estudiantes.each_with_index do |estudiante,i|
      %tr
        %td
          =i+1
        %td
          =estudiante.usuario.nombre_completo
        %td
          =estudiante.usuario.ci
        %td
          =estudiante.usuario.correo
        %td
          =estudiante.usuario.telefono_movil
        %td
          .detalle{:id => "detalle_#{estudiante.usuario_ci}"}
            %table
              - estudiante.estudiante_cursos.each do |ec|
                %tr
                  %th= ec.tipo_curso.descripcion
                  %td= ec.historiales_academicos.count

        %td
          =link_to 'Eliminar', {:action => "eliminar_estudiante", :ci => estudiante.usuario_ci}, {'data-confirm' => " Esta acción es irreversible, Se eliminará todo historial y registro del usuario. ¿está completamente seguro?"}


=button_to "Agregar nuevo instructor", :action=>"nuevo"
=link_to "Generar pdf", :action=>"generar_pdf_instructor"
=link_to "Generar xls", :action=>"generar_xls_instructor"
