// Place all the styles related to the Examen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.derecha{text-align: right;}
.separado{padding: 10px;}
.req{color: red;}

table tr.acciones{border-top: solid 12px yellow !important;}

table td.border{border:1px solid rgba(101, 99, 91, 0.45)}

.texto{width: 90%;height: 100px;overflow-y: scroll;}

.box {border:1px solid blue; padding-left: 10px;}

.division {border-top:1px solid orange;}