-if session[:parametros][:calificacion_abierta] == "SI"
  %h3
    =link_to "Calificar", :action => "seleccionar_curso", :controller => "calificacion"
  .titulo
    Calificar sus cursos
-if session[:parametros][:listados_abiertos] == "SI"
  %h3 
    =link_to "Ver Listado de Secciones", :controller => "principal_instructor", :action => "ver_secciones" 
  .titulo
    Ver el listado de una sección en formato HTML
%h3 
  =link_to "Agregar pregunta", "#{session[:parametros][:direccion_atest]}"
.titulo
  Permite agregar preguntas al banco de preguntas
