= render :partial => 'totales'

.well
  %h2 Detalles de las respuestas incorrectas:
  - @estudiante_examen.estudiante_examen_respuestas.each do |eer|  
    - unless eer.es_correcta?
      .well
        %table
          %tr
            %td
              %b= eer.respuesta.pregunta.valor
          %tr
            %td 
              %b Respuesta:
            %td
              = text_field_tag nil, eer.valor, :disabled => true
              (Incorrecta)