=form_tag url_for(:action => "cambiar_descripcion_horario", :controller => "parametros_generales") do
  %h4 Ingrese el número de la Capacidad de los Cursos
  = text_field_tag :descripcion, @horario.descripcion
  = hidden_field_tag :id, @horario.id

  %br
  %br
  =submit_tag :Aceptar
  =button_to_function "Cancelar","aceim.cerrar_modal();"
