<%= raw @mensaje %>
_____________________________
prueba


<p>
  Buen día
</p>

<p>
  Le informamos que hemos recibido su notificación de pago por concepto de <strong> casdads </strong> con los siguientes datos:
</p>

<p>
  <strong>Forma de pago:</strong> casa<br />
  <strong>Monto:</strong> casa<br />
  <strong>Referencia:</strong> casa<br />
  <strong>Fecha:</strong> <%= Time.now %><br />

</p>

<p>
  Una vez el pago haya sido confirmado le estaremos informando por esta vía.
</p>

<p>
  Saludos y !éxitos!
</p>

<p>
  <strong>El equipo de Conlallave.com</strong><br />
  (0212) 312.06.43 / (0212) 754.11.43 <br />
  <%= mail_to "fundeim@ucv.ve" %>
</p>